@import "../../styles/global.scss";

.container {
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .label,
  .required {
    font-size: 14px;
    color: $gray;
    margin-bottom: 8px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
  }

  .required {
    color: $light-gray;
    font-weight: 600;
  }

  .inputContainer {
    border: 1px solid $light-gray;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    .domain {
      width: fit-content;
      background: $light-gray-1;
      display: flex;
      align-items: center;
      padding: 12px;
      border-right: 1px solid $light-gray;
      font-weight: 500;
      border-radius: 4px 0px 0px 4px;
      color: $medium-gray;
      font-size: 14px;
    }

    .input {
      padding: 12px 12px;
      width: 100%;
      border: none;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 14px;
    }

    .input:focus {
      outline: 2px solid $primary-purple;
    }

    ::placeholder {
      color: $medium-gray;
      font-size: 14px;
    }
  }
}
